@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-white font-body antialiased;
  overflow-x: hidden;
}

input, select, textarea {
  @apply bg-white text-slate-900;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
