@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-shell text-ink font-body;
}

input, select, textarea {
  @apply bg-white text-ink;
}

[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: rgba(14, 15, 19, 0.4);
}
